$brownRus : #AB4A3C;
$frenchRose : #f14668;
$mustard : #FFDD57;
$emerald : #48C774;
$silver : #CCCCCC;
$alto : #DBDBDB;
$white : #FFFFFF;
$mineShaft : #363636;
$primary:$frenchRose;
$boulder: #7A7A7A;
